[submodule "modules/textredux"]
	path = modules/textredux
	url = https://github.com/snoopy/textredux.git
[submodule "modules/hydra"]
	path = modules/hydra
	url = https://github.com/snoopy/textadept-hydra.git
